@import "tailwindcss";

/* Global styles */
body {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
  font-family: "Geist", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  @apply text-blue-600 hover:underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}
