@import "tailwindcss";

/* Global styles */
body {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
  font-family: "Geist", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  @apply text-blue-600 hover:underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.875rem;
  margin-bottom: 0.875rem;
}
p {
  margin-bottom: 1rem;
}
ul,
li {
  /* @apply list-disc list-inside; */
  list-style-position: inside;
  list-style-type: disc;
  margin-left: 5px;
}
button {
  cursor: pointer;
}
